<div class="row justify-content-center">
  <h1 class="display-4" jhiTranslate="home.title">BIODIFUL.ORG</h1>
</div>

<div class="row justify-content-center">
  <p class="lead" jhiTranslate="home.subtitle">
    Une plateforme scientifique en ligne dédié à l'étude de la perception humaine de la nature
  </p>
</div>

<div class="row justify-content-center">
  <p class="lead" jhiTranslate="about.presentation">
    Elle permet aux chercheurs de créer et d’héberger des enquêtes utilisant des photos, des sons ou des vidéos. Ces enquêtes explorent la
    façon dont les personnes perçoivent, apprécient ou parfois craignent le monde vivant. La plateforme a déjà été utilisée pour des études
    sur les poissons de récifs, les récifs coralliens, les habitats coralligènes, les forêts, la biophobie, et même les ours en
    peluche.\n\nCes recherches permettent de mieux relier
    <a href="https://nicolasmouquet.fr/aesthe.html" target="_blank">
      perception esthétique, fonctions écologiques et réponses émotionnelles
    </a>
    à la nature. Elles offrent également de nouvelles perspectives pour la communication scientifique et la conservation. \n\nBiodiful.org a
    été développée par des chercheurs du CNRS et de l’IRD. La plateforme est ouverte à l’ensemble de la communauté scientifique. Toute
    personne souhaitant créer une enquête sur les interactions entre humains et nature peut nous contacter.\n
  </p>
  <div>
    <h3 jhiTranslate="about.publications">Liste de publications récentes</h3>
    <ul>
      <li class="mb-3" *ngFor="let pub of publications">
        <a [href]="pub.url" target="_blank">{{ pub.title }}</a>
        {{ pub.authors }}
      </li>
    </ul>
  </div>

  <!-- SECTION SURVEYS -->

  <div class="py-3">
    <h3 jhiTranslate="about.surveys">Campagnes précédentes</h3>
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th jhiTranslate="about.surveys.year">Année</th>
          <th jhiTranslate="about.surveys.name">Nom</th>
          <th jhiTranslate="about.surveys.description">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let survey of surveys" [routerLink]="['/survey-detail', survey.slug]" style="cursor: pointer">
          <td>{{ survey.year }}</td>
          <td>{{ survey.name[currentLang()] }}</td>
          <td>{{ survey.description[currentLang()] }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="py-3">
    <h3 jhiTranslate="about.partners">Partners</h3>
    <div class="row">
      <div class="col-md-6 mb-2" *ngFor="let partner of partners">
        <a *ngIf="partner.url; else noLink" [href]="partner.url" target="_blank" rel="noopener noreferrer">
          {{ partner.name }}
        </a>
        <ng-template #noLink>{{ partner.name }}</ng-template>
        <br />
        <small class="text-muted">{{ partner.location }}</small>
      </div>
    </div>
  </div>

  <h3 jhiTranslate="about.contacts">Contacts</h3>
  <div>
    <!-- <p><span jhiTranslate="about.contact.us">Nous contacter: </span>nicolas.mouquet (&#64;) cnrs.fr</p> -->
    <h4 jhiTranslate="about.coordination">Coordination</h4>
    <p>Nicolas Mouquet - <a href="mailto:nicolas.mouquet&#64;cnrs.fr">nicolas.mouquet&#64;cnrs.fr</a></p>
    <h4 jhiTranslate="about.website">Réalisons site web</h4>
    <p>Sylvain Bonnard - <a href="mailto:sylvain&#64;okamidev.com">sylvain&#64;okamidev.com</a></p>
    <p>Thomas Bouttaz - <a href="mailto:thomas.bouttaz&#64;gmail.com">thomas.bouttaz&#64;gmail.com</a></p>
    <p>Nicolas Mouquet - <a href="mailto:nicolas.mouquet&#64;cnrs.fr">nicolas.mouquet&#64;cnrs.fr</a></p>
  </div>
  <div class="py-2">
    <a href="#" [routerLink]="['/']" jhiTranslate="about.survey.list">Voir la liste des campagnes</a>
  </div>
</div>
