<div class="row justify-content-center">
  <h1 class="display-4" jhiTranslate="home.title">BIODIFUL.ORG</h1>
</div>

<div class="row justify-content-center">
  <p class="lead" jhiTranslate="home.subtitle">
    Une plateforme scientifique en ligne dédié à l'étude de la perception humaine de la nature
  </p>
</div>

<div class="about">
  <p jhiTranslate="about.presentation">
    Elle permet aux chercheurs de créer et d’héberger des enquêtes utilisant des photos, des sons ou des vidéos. Ces enquêtes explorent la
    façon dont les personnes perçoivent, apprécient ou parfois craignent le monde vivant. La plateforme a déjà été utilisée pour des études
    sur les poissons de récifs, les récifs coralliens, les habitats coralligènes, les forêts, la biophobie, et même les ours en
    peluche.\n\nCes recherches permettent de mieux relier appréciation esthétique, fonctions écologiques et réponses émotionnelles à la
    nature. Elles offrent également de nouvelles perspectives pour la communication scientifique et la conservation. \n\nBiodiful.org a été
    développée par des chercheurs du CNRS et de l’IRD. La plateforme est ouverte à l’ensemble de la communauté scientifique. Toute personne
    souhaitant créer une enquête sur les interactions entre humains et nature peut noud contacter.\n
  </p>
  <p>
    <span jhiTranslate="about.financed">Ce projet est financé par le</span>
    <a href="https://www.inee.cnrs.fr/fr" target="_blank">CNRS</a>
  </p>
  <div>
    <h3 jhiTranslate="about.publications">Liste de publications récentes</h3>
    <ul>
      <li class="mb-3">
        <a href="https://nicolasmouquet.fr/pages/McLean_et_al_2025_PNAS.html" target="_blank">
          McLean M.*, Mouillot D., Langlois J., Arif S., Bejarano S., Casajus C., Edgar G.J., Flandrin U., Guilhaumon F., Judah A.B.,
          Loiseau N., MacNeil M.A., Maire E., Stuart-Smith R.D., & Mouquet N.* (2025). Conserving the beauty of the worlds reef fish
          assemblages Proc. Natl. Acad. Sci. U.S.A. 122 (25) e2415931122, doi.org/10.1073/pnas.2415931122 (* These authors contributed
          equally to this study)
        </a>
      </li>
      <li class="mb-3">
        <a href="https://nicolasmouquet.fr/pages/Alisa_et_al_2025_SciRep.html" target="_blank">
          Alisa, C.A.G., Razak, T.B., Mouquet N.*,Graham A.J, HemingsonC. R. ,Mouillot D., Damayanti, L. Prasetya M. E. , Maulana P. B.,
          Hamka A. , Dwiyanto A., Abeng A. T., Madjid, Irwan, R. E., Hidayat A., Lakota H., Parrangan C. V., Pratama A. M. A., Hamzah,
          Suandar, Subhan B., Zamani N. P., Vida R. T. & Lamont, T. A. C. (2025). Benthic communities on restored coral reefs confer
          equivalent aesthetic value to healthy reefs Scientific Reports 15, 20790. doi.org/10.1038/s41598-025-06373-3
        </a>
      </li>
      <li>
        <a href="https://nicolasmouquet.fr/pages/Casoli_et_al_2025_RestEcol.html" target="_blank">
          Casoli E., Raschetti S., Mouquet N., Ventura D., Mancini G., Penna M., Andrea Belluscio A. and Ardizzone, G. (2025). Assessing the
          ecological and aesthetic effectiveness of restoration interventions on coralligenous reefs Restoration Ecology, e70092,
          doi.org/10.1111/rec.70092
        </a>
      </li>
      <li>
        <a href="https://nicolasmouquet.fr/pages/Mouquet_et_al_2025_BioScience.html" target="_blank">
          Mouquet N., Blanc N., Brassac T. and Tribot A.S. (2025). Too cute to be wild: what teddy bears reveal about our disconnection from
          nature. BioScience, doi.org/10.1093/biosci/biaf146
        </a>
      </li>
      <li>
        <a href="https://nicolasmouquet.fr/pages/Zeller_et_al_2025_PeopleNature.html" target="_blank">
          Zeller K., Mouquet N., Garcia C., Dezecache G., Maille A., Duboscq J., Morino J.L., & Bonnet X. (2025). Danger versus fear: A key
          to understanding biophobia People and Nature, doi: 10.1002/pan3.70009
        </a>
      </li>
      <li>
        <a href="https://nicolasmouquet.fr/pages/Blanc_et_al_2025_JPP.html" target="_blank">
          Blanc N., Tribot A.S., Brassac T., and Mouquet N. (2025). The science of cuteness: where teddy bears beauty, comfort and care
          converge. The Journal of Positive Psychology, doi.org/10.1080/17439760.2025.2538890
        </a>
      </li>
      <li>
        <a href="https://nicolasmouquet.fr/pages/Mouquet_et_al_2024_SciAdv.html" target="_blank">
          Mouquet N., Langlois J., Casajus N., Auber A., Flandrin U., Guilhaumon F., Loiseau N., McLean M., Aurore R., Stuart Smith R.D. &
          Mouillot D. (2024) Low human interest for the most at-risk reef fishes worldwide Science Advances, 10,eadj9510.
          DOI:10.1126/sciadv.adj9510
        </a>
      </li>
      <li>
        <a href="https://nicolasmouquet.fr/pages/Tribot_et_al_2023_JPP.html" target="_blank">
          Tribot AS, Blanc N, Brassacc T, Guilhaumond F, Casajus N, and Mouquet N (2023) What makes a teddy bear comforting? A participatory
          study reveals the prevalence of sensory characteristics and emotional bonds in the perception of comforting teddy bears The
          Journal of Positive Psychology, DOI:10.1080/17439760.2023.2170273
        </a>
      </li>
      <li>
        <a href="https://nicolasmouquet.fr/pages/Langlois_et_al_2021_EcolInd.html" target="_blank">
          Langlois J*, Guilhaumon F, Baletaud F, Casajus N, De Almeida Braga C, Fleure V, Kulbicki K, Loiseau N, Mouillot D, Renoult JP,
          Stahl A, Stuart Smith RD, Tribot AS & N, Mouquet* (2022) The aesthetic value of reef fishes is globally mismatched to their
          conservation priorities. PLoS Biol 20(6): e3001640. doi:10.1371/journal.pbio.3001640 (* These authors contributed equally to this
          study)
        </a>
      </li>
      <li>
        <a href="https://nicolasmouquet.fr/pages/Tribot_et_al_2019_BioLett.html" target="_blank">
          Tribot, A.S, Deter, J., Claverie, T., Guillhaumon, F., Villeger, S., & Mouquet, N. (2019). Species diversity and composition drive
          the aesthetic value of coral reef fish assemblages. Biology letters, 15, 20190703, doi:10.1098/rsbl.2019.0703
        </a>
      </li>
      <li>
        <a href="https://nicolasmouquet.fr/pages/Tribot_et_al_2018_SciRep.html" target="_blank">
          Tribot, A.S, Carabeux, Q., Deter, J., Claverie, T., Villeger, S., & Mouquet, N. (2018). Confronting species aesthetics with
          ecological functions in coral reef fish. Scientific Reports, 8, 11733, doi:10.1038/s41598-018-29637-7
        </a>
      </li>
      <li>
        <a href="https://nicolasmouquet.fr/pages/Tribot_et_al_2016_SciRep.html" target="_blank">
          Tribot, A.S.,Mouquet, N., Villeger, S., Raymond, M., Hoff, F., Boissery, P., Holon, F., Deter, J. (2016). Taxonomic and functional
          diversity increase the aesthetic value of coralligenous reefs. Scientific Reports, doi:10.1038/srep34229
        </a>
      </li>
    </ul>
  </div>
  <h3 jhiTranslate="about.contacts">Contacts</h3>
  <div>
    <p><span jhiTranslate="about.contact.us">Nous contacter: </span>nicolas.mouquet (&#64;) cnrs.fr</p>

    <h4 jhiTranslate="about.coordination">Coordination</h4>
    <p>Nicolas Mouquet - nicolas.mouquet (&#64;) cnrs.fr</p>
    <h4 jhiTranslate="about.website">Réalisons site web</h4>
    <p>Sylvain Bonnard - sylvain (&#64;) okamidev.com</p>
    <p>Thomas Bouttaz - thomas.bouttaz (&#64;) gmail.com</p>
  </div>
  <div class="py-2">
    <a href="#" [routerLink]="['/']" jhiTranslate="about.survey.list">Voir la liste des campagnes</a>
  </div>
</div>
