<div class="row justify-content-center">
  <h1 class="display-4" jhiTranslate="home.title">BIODIFUL.ORG</h1>
</div>

<div class="row justify-content-center">
  <p class="lead" jhiTranslate="home.subtitle">Un site de campagne online dédié à l'étude de la perception humaine de la nature</p>
</div>

<div class="about">
  <p jhiTranslate="about.presentation">
    Ce site mets à disposition de la communauté scientifique une plateforme en ligne pour héberger des campagnes d’évaluation de la
    perception humaine de la nature à partir de questionnaires photographiques.
  </p>
  <p>
    <span jhiTranslate="about.financed">Ce projet est financé par le</span>
    <a href="https://www.inee.cnrs.fr/fr" target="_blank">CNRS</a>
  </p>
  <div>
    <h3 jhiTranslate="about.publications">Liste de publications récentes</h3>
    <ul>
      <li>
        <a href="http://nicolasmouquet.free.fr/pdf/Tribot_et_al_2019_Biolett.htm" target="_blank">
          Tribot, A.S, Deter, J., Claverie, T., Guillhaumon, F., Villeger, S., & Mouquet, N. (2019). Species diversity and composition drive
          the aesthetic value of coral reef fish assemblages. Biology letters, 15, 20190703, doi:10.1098/rsbl.2019.0703
        </a>
      </li>
      <li>
        <a href="http://nicolasmouquet.free.fr/publications/Tribot_et_al-2018-Scientific_Reports.pdf" target="_blank">
          Tribot, A.S, Carabeux, Q., Deter, J., Claverie, T., Villeger, S., & Mouquet, N. (2018). Confronting species aesthetics with
          ecological functions in coral reef fish. Scientific Reports, 8, 11733, doi:10.1038/s41598-018-29637-7
        </a>
      </li>
      <li>
        <a href="http://nicolasmouquet.free.fr/pdf/Tribot_et_al_2016_Scientific_Reports.htm" target="_blank">
          Tribot, A.S.,Mouquet, N., Villeger, S., Raymond, M., Hoff, F., Boissery, P., Holon, F., Deter, J. (2016). Taxonomic and functional
          diversity increase the aesthetic value of coralligenous reefs. Scientific Reports, doi:10.1038/srep34229
        </a>
      </li>
    </ul>
  </div>
  <h3 jhiTranslate="about.contacts">Contacts</h3>
  <div>
    <p><span jhiTranslate="about.contact.us">Nous contacter: </span>biodiful (&#64;) gmail.com</p>

    <h4 jhiTranslate="about.coordination">Coordination</h4>
    <p>Nicolas Mouquet - nicolas.mouquet (&#64;) cnrs.fr</p>
    <h4 jhiTranslate="about.website">Réalisons site web</h4>
    <p>Sylvain Bonnard - sylvain (&#64;) okamidev.com</p>
    <p>Thomas Bouttaz - thomas.bouttaz (&#64;) gmail.com</p>
  </div>
  <div class="py-2">
    <a href="#" [routerLink]="['/']" jhiTranslate="about.survey.list">Voir la liste des campagnes</a>
  </div>
</div>
